
<button type="button" (click)="displayText()" >{{show ? 'Hide Details':'Display Details'}}</button>


<p *ngIf="show">Add a button which says 'Display Details'.
  Add a paragraph with any content of your choice.
  Toggle the displaying of that paragraph with the button created in the first step.
  When the paragraph is displayed, change the button text to 'Hide Details'.
  Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number).
  Starting at the 10th log item, give all future log items a green background (via ngClass) and white color (ngStyle).
  Practice 2:
  
  Continue working on the monster-fight project.
  Create a new branch.
  Create a hero property.
  Add a new input that sets hero's name key.
  Add a button which may only be clicked if the hero's name is NOT an empty string.
  Once this button is clicked, generate random power for hero and remove/hide both the input and button (added in the previous two steps) from the DOM.
  Looping though the array of monsters, style the display message such that if the monster's power is greater than hero's, add danger styling.</p>

  <p *ngFor="let arr of array; index as i;" [ngClass]="{'background-green' : i>=9}" [ngStyle]="{'color': i>=9 ? 'white' : 'black'}">{{ arr.time }} {{ arr.state}} {{i}}</p>